div(ng-include="'components/sidenav/sidenav.html'")

div.media-header-container
  div(layout='column').media-header-content
    h1.media-header-title I want to
    div(layout='row')
      div(flex='10')
      div(flex='80')
        div(layout='row')
          md-button.md-button-colored.media-button(ng-click='filterBy("read");')
            i.fa.fa-lg.fa-book
            |  read
          md-button.md-button-colored.media-button(ng-click='filterBy("listen");')
            i.fa.fa-lg.fa-music
            |  listen
          md-button.md-button-colored.media-button(ng-click='filterBy("watch");')
            i.fa.fa-lg.fa-film
            |  watch
    div(ng-click='filterBy("")').media-header-bottom
      div I don't care, show me everything !
      div.chevron-container
        div.chevron-bottom

div(id='content' style='height:100%;')
  div(layout='row', layout-margin='', layout-padding='', ng-class='{ fixed_search: scroll > {{windowHeight}} }').search
    div(flex='20')
    div(flex='60')
      input(type='text', placeholder='quick search field...', ng-model='search.text', scroll-position='scroll').search_field
  .links(layout-align='center', ng-class='{ links_top_marged: scroll > {{windowHeight}} }')
    md-card(ng-repeat="link in links | filter:{tag: search.tag, title: search.text}")
      .thumbnail
        h3 {{link.title}}
        a(ng-href='{{link.url}}') {{link.url}}
