.media-button {
  width            : 33%;
  font-size        : 2em;
  padding          : 1em 2em;
  margin           : 0px 8px;
  background-color : darken($blue_1, 10%);
}

.menuNav {
  position : absolute;
  left     : 8px;
}
