div(layout='row', ng-controller='SideNavCtrl')
  //- md-sidenav.md-sidenav-left(md-component-id='left', md-is-locked-open="$media('min-width: 333px')")
  md-sidenav.md-sidenav-left(md-component-id='left')
    div(layout='column')
      md-button(ng-controller='SideNavCtrl', ng-click='toggleMenu()')
        i.fa.fa-3x.fa-arrow-circle-left

      h4(style='padding: 0px 0 0 24px;') I want to
      md-divider
      md-button read
      md-button listen
      md-button watch

      h4(style='padding: 0px 0 0 24px;') general
      md-divider
      md-button() About
      md-button() Contact
      md-button(href='#/') Home
  //- md-sidenav.md-sidenav-right(md-component-id='right', md-is-locked-open="$media('min-width: 333px')")
  //-   | Right Nav!
