div(layout='column', layout-fill='')
  header(ng-include="'components/navbar/navbar.html'" )

  md-content
    section.jumbotron
      h1
        a.btn(ng-href='#media') Goto links list
      h2 create an account
      h2 how it works ?
      h2 etc.

    .techs(layout-align='center')
      md-card(ng-repeat="awesomeThing in awesomeThings | orderBy:'rank'")
        .thumbnail
          img.pull-right(ng-src='assets/images/{{awesomeThing.logo}}', alt='{{awesomeThing.title}}')
          .caption
          h3 {{awesomeThing.title}}
          p {{awesomeThing.description}}
          a(ng-href='{{awesomeThing.url}}') {{awesomeThing.url}}

  footer
    md-toolbar(layout='row', layout-align='center center')
      p With &hearts;
